<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <!-- Navbar -->
    <nav th:fragment="navbar">
        <ul>
            <li><a href="/admin">Home Page</a></li>
            <li><a href="/admin/users">All users</a></li>
            <li><a href="/admin/create-employee">Create new Employee</a></li>
        </ul>
    </nav>

    <!-- Home Page -->
    <h1 class="text-center">Hello Admin! Have a nice day &lt;3</h1>
</body>

</html>